<html xmlns:th="http://www.w3.org/1999/xhtml">
<header>
    <title>This is title</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
</header>
<body>
<table id="table_id" class="display" style="width:100%">
    <thead>
    <tr>
        <th>CPU Name</th>
        <th>Single Thread Performance</th>
        <th>Single Thread Price/Performance</th>
        <th>Multi Thread Performance</th>
        <th>Multi Thread Price/Performance</th>
        <th>Price in Dollars</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cpu: ${cpuList}">
        <td>[[${cpu.cpuName}]]</td>
        <td>[[${cpu.singleThreadPerformance}]]</td>
        <td>[[${cpu.singleThreadDollarPricePerformance}]]</td>
        <td>[[${cpu.multiThreadPerformance}]]</td>
        <td>[[${cpu.multiThreadDollarPricePerformance}]]</td>
        <td>[[${cpu.dollarPrice}]]</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <th>CPU Name</th>
        <th>Single Thread Performance</th>
        <th>Single Thread Price/Performance</th>
        <th>Multi Thread Performance</th>
        <th>Multi Thread Price/Performance</th>
        <th>Price in Dollars</th>
    </tr>
    </tfoot>
</table>

<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function () {
        $('#table_id').DataTable();
    });
</script>
</body>
</html>